$action-bar-height: 80px;

.PageBuilder {

  .BlockEditor {
    height: calc(100vh - #{$action-bar-height});
    box-shadow: 0 20px 20px 10px #f5f5f5;
  }

  .Shelf {
    padding: 0 20px 0 20px;
    border-right: 1px solid #F3F4F5;;

    &__logo {
      margin: 0 0 20px;
      height: $action-bar-height;
      display: flex;
      align-items: center;
      width: 100%;
      color: $primary-color;
      border-bottom: 1px solid #F3F4F5;;
    }

    &__elements {
      &-heading {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  &__actionBar {
    width: 100%;
    height: $action-bar-height;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0 rem(24px);

    background-color: #fff;

    border-bottom: 1px solid #F3F4F5;

    gap: rem(12px);
  }

  &__workspace {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    width: 100%;

    &__area {
      height: calc(100vh - #{$action-bar-height});
      width: 100%;

      background-color: #F3F4F5;
    }

    &__right {
      &__container {
        display: flex;
        flex-flow: column;

        width: 100%;
      }

      &__content {
        display: flex;
      }
    }
  }
}
