$action-bar-height: 40px;

.PageBuilder {
  &.--open {
    grid-template-columns: 290px 1fr;

    .Shelf {
      transform: translateX(0);
    }

    .PageBuilder__workspace {
      grid-template-columns: 290px 1fr;
    }
  }

  .BlockEditor {
    height: calc(100vh - #{$action-bar-height});
  }

  .Shelf {
    padding: 0 20px 0 20px;
    border-right: 1px solid #F3F4F5;
    transform: translateX(calc(-100% + 20px));

    &__logo {
      margin: 0 0 20px;
      height: $action-bar-height;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: $primary-color;
      border-bottom: 1px solid #F3F4F5;
      overflow: hidden;
    }

    &__elements {
      &-heading {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  &__actionBar {
    width: 100%;
    height: $action-bar-height;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border-bottom: 1px solid #F3F4F5;

    > button {
      background: transparent;
      border: none;
      height: 100%;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s ease;

      &:first-of-type {
        border-left: 1px solid #e5e5e5;
      }
      &:not(:last-of-type) {
        border-right: 1px solid #e5e5e5;
      }

      &:hover {
        background: #fafafa;
        cursor: pointer;
        color: $primary;

        svg {
          transform: scale(1.1);
        }
      }
    }
  }

  &__workspace {
    display: grid;
    grid-template-columns: 20px 1fr;

    height: 100vh;
    width: 100%;

    &__area {
      height: calc(100vh - #{$action-bar-height});
      width: 100%;

      background-color: #F3F4F5;
    }

    &__right {
      &__container {
        display: flex;
        flex-flow: column;

        width: 100%;
      }

      &__content {
        display: flex;
      }

      &__editor {
        max-width: 20rem;
        width: 100%;
      }
    }
  }
}
