.Sidebar {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  height: 100%;

  padding: rem(12px) rem(24px);

  border-right: 1px solid $grey-100;

  &__top {
    display: flex;
    flex-flow: column;
  }

  &__logo {

  }
}
