.AuthView {
  display: flex;
  flex-flow: row;

  width: 100%;
  height: 100vh;

  overflow-y: hidden;

  &__left {
    flex: 0 0 50%;
    padding: rem(80px) rem(170px);

    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__body {
      display: flex;
      justify-content: space-between;
      flex-flow: column;

      padding-top: rem(50px);

      gap: rem(24px);

      width: 100%;

      form {
        display: flex;
        flex-flow: column;
        justify-content: stretch;
        align-items: stretch;

        gap: rem(12px);
      }
    }

    &__footer {
      margin-top: auto;
    }
  }
  &__right {
    flex: 0 0 50%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}