.Input {
  display: flex;
  flex-flow: column;

  &__label {
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin: 10px 0;
  }

  &__footer {
    font-size: 12px;
    display: block;
    color: $input-footer-color;
    margin: 2px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $input-color;
    background-color: $input-background-color;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
    border-radius: $border-radius;

    &:focus,
    &.focus {
      outline: none;
      box-shadow: $input-box-shadow;
      border-color: $input-border-focus-color;
    }

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:disabled {
      opacity: .5;
    }
  }

  &:disabled {
    border-color: #eee;
    background-color: #f4f4f4;
    color: #aaa;
    cursor: default;
  }
}
