.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: auto;

  border: 1px solid #e8e8e8;

  box-shadow: 0 0 20px 1px #e3e3e3;
  z-index: 9999;

  &__wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: #fff;
    opacity: .4;
    z-index: 0;
  }

  &__header {
    background: #fafafa;
    padding: .7rem 1rem;
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer;
      position: relative;
      width: 20px;
      display: flex;
      align-items: center;
      background: none;
      border: 0;

      &::before {
        content: '';
        height: 2px;
        width: 16px;
        position: absolute;
        background-color: $secondary;
        border-radius: 2px;
        transform: rotate(45deg);
        transition: all .3s ease-in;
      }

      &::after {
        content: '';
        height: 2px;
        width: 16px;
        position: absolute;
        background-color: $secondary;
        border-radius: 2px;
        transform: rotate(-45deg);
        transition: all .3s ease-in;
      }
    }
  }

  &__body {
    padding: .7rem 1rem;
  }
}
